.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.accountInfo{
  width: 100%;
  padding-left: 15px;
  font-size: large;
  padding-bottom: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-basis: content;
  border-bottom: 1px solid azure;




}
.icon{
  margin-right: 5px;
}
