<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color" [containerInside]="false">
  <!-- Navbar brand -->
  <mdb-navbar-brand routerLink="/">
    <img class="mat-icon icon" src="/assets/images/logo.png">
    <a class="navbar-brand" href="#">Influx</a>
  </mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isOwner">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/admin">
          <mdb-icon fas icon="cog"></mdb-icon>
          Admin</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon>
          Profile<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <app-profile></app-profile>
          <mat-nav-list id="dropdownList">
            <a mat-list-item routerLink="/" (click)="clearAuthInfo()">{{'nav.logout'|translate}}</a>
          </mat-nav-list>

          <div class="langMenu">
            <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-left: 10px">
              <mat-icon>language</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <img src="/assets/images/ukraine_flag.png" (click)="switchLang('uk')" class="mat-icon icon">
                <span>Українська</span>
              </button>
              <button mat-menu-item>
                <img src="/assets/images/europe_flag.png" (click)="switchLang('en')" class="mat-icon icon">
                <span>English</span>
              </button>
            </mat-menu>

          </div>
        </div>
      </li>

    </ul>
  </links>
</mdb-navbar>

<router-outlet></router-outlet>

