
.list-group-item:hover {
 background: #00bfff;

}
.list-group-item:focus {
background: azure;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Tabs Tabs Tabs"
    "Nav Content Content Content"
    "Nav Content Content Content";
}
.Tabs {
  grid-area: Tabs;
}
.Nav {
  grid-area: Nav;
}
.Header {
  grid-area: Header;
}
.Content {
  grid-area: Content;
}
