<div class="grid-container">
  <div class="Header">
    <!--Logo placeholder-->
  </div>

  <div class="Nav">
    <div class="list-group-item waves-light" *ngFor="let company of companies" mdbWavesEffect
         (click)="onCompanySelected(company.id);" [class.active]="company.id==idSelectedCompany">{{company.name}}
      <div class="buttons">
        <img class="mat-icon icon" src="/assets/images/edit_icon.png" (click)="updateDialog(company.id)">
        <img class="mat-icon icon" src="/assets/images/delete_icon.png" (click)="delete(company)">
      </div>
    </div>
    <img class="mat-icon icon" src="/assets/images/plus_icon.png" (click)="createDialog()">
  </div>

  <div class="Tabs">
    <mat-tab-group backgroundColor="warn" (selectedTabChange)="tabClick($event)" #tabs>
      <mat-tab [disabled]="true"></mat-tab>
      <mat-tab label="{{'company.resource-tab'|translate}}" [class.active]="selectedTabId==1"></mat-tab>
      <mat-tab label="{{'company.visit-tab'|translate}}" [class.active]="selectedTabId==2"></mat-tab>
      <mat-tab label="{{'company.recommendation-tab'|translate}}" [class.active]="selectedTabId==3"></mat-tab>
    </mat-tab-group>
  </div>

  <div class="Content">
    <div [ngSwitch]="selectedTabId">
      <app-resource *ngSwitchCase="1" [idCompany]="idSelectedCompany"></app-resource>
      <app-visits *ngSwitchCase="2" [idCompany]="idSelectedCompany"></app-visits>
      <app-recommendation *ngSwitchCase="3" [idCompany]="idSelectedCompany"></app-recommendation>
      <div *ngSwitchDefault></div>
    </div>
  </div>

</div>
