<div class="grid-container">
  <div class="Header">Select one of your companies to begin!</div>

  <div class="Nav">
    <div class="list-group-item waves-light" *ngFor="let company of companies" mdbWavesEffect
         (click)="onCompanySelected(company.id);" [class.active]="company.id==idSelectedCompany">{{company.name}}</div>
  </div>

  <div class="Tabs">
    <mat-tab-group backgroundColor="warn" (selectedTabChange)="tabClick($event)" #tabs>
      <mat-tab [disabled]="true"></mat-tab>
      <mat-tab label="Resources" [class.active]="selectedTab=='Resources'"></mat-tab>
      <mat-tab label="Visits" [class.active]="selectedTab=='Visits'"></mat-tab>
      <mat-tab label="Recommendations" [class.active]="selectedTab=='Recommendations'"></mat-tab>
    </mat-tab-group>
  </div>

  <div class="Content">
    <div [ngSwitch]="selectedTab">
      <app-visits *ngSwitchCase="'Visits'" [idCompany]="idSelectedCompany"></app-visits>
      <app-resource *ngSwitchCase="'Resources'" [idCompany]="idSelectedCompany"></app-resource>
      <app-recommendation *ngSwitchCase="'Recommendations'" [idCompany]="idSelectedCompany"></app-recommendation>
      <div *ngSwitchDefault></div>
    </div>
  </div>

</div>
