
.list-group-item:hover {
  background: #00bfff;

}

.list-group-item:focus {
  background: azure;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  gap: 15px 15px;
  grid-template-areas: "Header Tabs Tabs Tabs" "Nav Content Content Content" "Nav Content Content Content";
}

.Tabs {
  grid-area: Tabs;
}

.Nav {
  grid-area: Nav;
}

.Header {
  grid-area: Header;
}

.Content {
  grid-area: Content;

}
.list-group-item {
  display: flex;
}

.buttons {
  margin-left: auto;
}
