<mat-card>
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="createCompany()">
      <h2>{{title}}</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Cool company" formControlName="companyName" required>
        <mat-error>
          Please provide a valid name
        </mat-error>
      </mat-form-field>
    </form>
    <div class="buttons">
    <button mat-raised-button color="primary" class="btn"  [mat-dialog-close]="false"(click)="closeDialog()">Discard</button>
    <button mat-raised-button color="primary" class="btn" [mat-dialog-close]="true" (click)="processCompany()">{{textOnBtn}}</button>
    </div>
  </mat-card-content>
</mat-card>
